<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/LayoutPadrao">
<head>
    <title>Brewer | Cadastro de cliente</title>
</head>

<body>

<section layout:fragment="conteudo">


    <div class="page-header">
        <div class="container-fluid">
            <h1>
                Cadastro de Cliente
            </h1>
        </div>
    </div>

    <div class="container-fluid">

        <!--            <div class="alert  alert-danger  alert-dismissible" role="alert">-->
        <!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>-->
        <!--                </button>-->
        <!--                <i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.-->
        <!--            </div>-->

        <!--                <div th:each="erro: ${#fields.detailedErrors()}">-->
        <!--                    <span th:text="${erro.message}"></span>-->
        <!--                </div>-->

        <form method="post" th:object="${cerveja}" class="form-vertical  js-form-loading">

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" class="form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="tipoPessoa">Tipo pessoa</label>
                    <div id="tipoPessoa">
                        <div class="radio-inline">
                            <input type="radio" id="id_FISICA" name="tipoPessoa"
                            class="js-radio-tipo-pessoa"
                                   data-document="CPF" data-mascara="000.000.000-00">
                            <label for="id_FISICA" class="control-label">Física</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" id="id_JURIDICA" name="tipoPessoa"
                                   class="js-radio-tipo-pessoa"
                                   data-document="CNPJ" data-mascara="00.000.000/0000-00">
                            <label for="id_JURIDICA" class="control-label">Juridica</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 form-group">
                    <label for="cpfOuCnpj">CPF/CNPJ</label>
                    <input id="cpfOuCnpj" type="text" class="form-control"
                    disabled/>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="telefone">Telefone</label>
                    <input id="telefone" type="tel" class="form-control js-phone-number"/>
                </div>
                <div class="col-sm-8 form-group">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" class="form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="logradouro">Logradouro</label>
                    <input id="logradouro" type="text" class="form-control"/>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="numero">Número</label>
                    <input id="numero" type="text" class="form-control"/>
                </div>

                <div class="col-sm-4 form-group">
                    <label for="complemento">Complemento</label>
                    <input id="complemento" type="text" class="form-control"/>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4 form-group">
                    <label for="cep">CEP</label>
                    <input id="cep" type="text" class="form-control"/>
                </div>

                <div class="col-sm-4 form-group">
                    <label for="estado">Estado</label>
                    <select id="estado" class="form-control">
                        <option value="">Selecione o estado</option>
                    </select>
                </div>

                <div class="col-sm-4 form-group">
                    <label for="cidade">Cidade</label>
                    <select id="cidade" class="form-control">
                        <option value="">Selecione a cidade</option>
                    </select>
                </div>

            </div>

            <div class="form-group">
                <button class="btn  btn-primary" type="submit">Salvar</button>
            </div>

        </form>
    </div>

</section>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/cliente-mascara-cpf-cnpj.js}"></script>
</th:block>

</body>

</html>