<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'">
<head></head>

<body>

<section layout:fragment="conteudo">


    <div class="page-header">
        <div class="container-fluid">
            <h1>
                Cadastro de Cerveja
            </h1>
        </div>
    </div>

    <div class="container-fluid">

        <!--            <div class="alert  alert-danger  alert-dismissible" role="alert">-->
        <!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>-->
        <!--                </button>-->
        <!--                <i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.-->
        <!--            </div>-->

        <!--                <div th:each="erro: ${#fields.detailedErrors()}">-->
        <!--                    <span th:text="${erro.message}"></span>-->
        <!--                </div>-->

        <form method="post" th:object="${cerveja}" class="form-vertical  js-form-loading">

            <div class="row">
                <div class="col-sm-2 form-group">
                    <label for="sku">SKU</label>
                    <input id="sku" type="text" class="form-control"/>
                </div>

                <div class="col-sm-10 form-group">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea id="descricao" rows="3" class="form-control"></textarea>
            </div>

            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="estilo">Estilo</label>
                    <select id="estilo" class="form-control">
                        <option value="">Selecione o estilo</option>
                    </select>
                </div>

                <div class="col-sm-3 form-group">
                    <label for="sabor">Sabor</label>
                    <select id="sabor" class="form-control">
                        <option value="">Selecione o sabor</option>
                    </select>
                </div>

                <div class="col-sm-3 form-group">
                    <label for="teor-alcoolico">Teor Alcoólico</label>
                    <div class="input-group">
                        <input id="teor-alcoolico" type="text" class="form-control"/>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 form-group">
                    <label for="origem">Origem</label>
                    <div id="origem">
                        <div class="radio-inline">
                            <input type="radio" id="nacional" name=origem"">
                            <label for="nacional">Nacional</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" id="internacional" name=origem"">
                            <label for="internacional">Internacional</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="preco">Preço</label>
                    <div class="input-group">
                        <div class="input-group-addon">AOA</div>
                        <input id="preco" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="comissao">Comissão</label>
                    <div class="input-group">
                        <input id="comissao" type="text" class="form-control"/>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="estoque">Estoque</label>
                    <input id="estoque" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <button class="btn  btn-primary" type="submit">Salvar</button>
            </div>

        </form>
    </div>


</section>

</body>

</html>